<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="details1" method="post">
    {% csrf_token %}
   <label for="2name">Name:</label><br>
  <input type="text" id="2name" name="Name"><br>
  <label for="1name">DOB:</label><br>
  <input type="date" id="1name" name="DOB"><br>
    <label for="age">Age:</label><br>
  <input type="number" id="age" name="age"><br>
  <label for="phnumber">Phone:</label><br>
  <input type="number" id="phnumber" name="phnumber"><br>
     <input type="radio" id="gender" name="gender" value="Male">
  <label for="gender">Male</label>
  <input type="radio" id="gender1" name="gender" value="Female">
  <label for="gender1">Female</label><br>
    <label for="mail">Email:</label><br>
  <input type="email" id="mail" name="mail"><br>
    <label for="address">Address:</label><br>
    <textarea id="address" name="address" rows="4" cols="20"></textarea><br>

  <script>
        function getCities() {
            var country = document.getElementById('country').value;
            var cities = document.getElementById('city');
            cities.options.length = 0;
            switch (country) {
                case 'computer science':
                    cities.options.add(new Option('CS engineering', 'CS engineering'));
                    cities.options.add(new Option('BCA', 'BCA'));

                    break;
                case 'Commerce':
                    cities.options.add(new Option('Bcom', 'Bcom'));
                    cities.options.add(new Option('Bba', 'Bba'));

                    break;
                case 'Science':
                    cities.options.add(new Option('Engineering', ' Engineering'));
                    cities.options.add(new Option('Bsc', 'Bsc'));

                    break;
                case 'Humanities':
                    cities.options.add(new Option('BA History', ' BA History'));
                    cities.options.add(new Option('MA History', 'MA History'));

                    break;
                case 'IT':
                    cities.options.add(new Option('Cyber Security', ' Cyber Security'));
                    cities.options.add(new Option('Animation', 'Animation'));

                    break;





                default:
                    break;
            }
        }
    </script>
    <label for="country">Dept:</label>
    <select id="country" onchange="getCities()">
        <option value="">Select Dept </option>
        <option value="computer science">Computer science</option>
        <option value="Commerce">Commerce</option>
        <option value="Humanities">Humanities</option>
        <option value="Science">Science</option>
        <option value="IT">IT</option>
    </select>
    <br>
    <br>
    <label for="city">Courses:</label>
    <select id="city">
    </select>
    <br>
    <br>
    <label for="purpose">Purpose:</label>

<select name="purpose" id="purpose">
    <option value="">select</option>
  <option value="ForEnquiry">ForEnquiry</option>
  <option value="PlaceOrder">Place order</option>
  <option value="Return">Return</option>
</select>
    <br>
<label>Materials provide:</label><br>
    <input type="checkbox" id="matrls" name="matrl1" value="notebook">
  <label for="matrls"> NoteBook</label><br>
  <input type="checkbox" id="matrls1" name="matrl2" value="Pen">
  <label for="matrls1"> Pen</label><br>
  <input type="checkbox" id="matrsl2" name="matrl2" value="ExamPaper">
  <label for="matrsl2">ExamPaper</label><br><br>
  <input type="submit" value="Submit">

</form>
<a href=/home/credentials/login><button>Logout</button></a>
</body>
</html>